.Navbar {
    height: 100%;
    width: 100%;
}
.Logo {
    height: 200px;
    width: 500px; 
    margin:-80px 0px;
    padding-right: 200px;
    padding-bottom: 3px;
}

ul {
    padding-left: 500px;
}

li {
    transition-duration: 0.5s
}

button {
    transition-duration: 0.4s
}
    
